.home-container {
    font-family: 'Arial', sans-serif;
    background-color: #f1f3f5;
    min-height: 100vh;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;
    background: linear-gradient(135deg, #02fffb, #d63e3e, #ff758c);
  }